.WeatherBoards,
.WeatherRight-board,
.WeatherRight-board>div
 {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1em 2em;
}


.WeatherRight-board>div {
  display: grid;
  grid-template-columns: 6em 4em;
  height: 2rem;
  align-items: center;
  justify-content: center;
}

.WeatherBoards {
  grid-template-columns: 30% auto;
  padding: 10px;
  margin: auto;
}

.WeatherRight-board {
  width: 80%
}

.WeatherLeft-board,
.WeatherRight-board {
  border: 1px solid #28a2a2;
  box-shadow: 0.15rem 0.15rem 0.5rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  text-align: center;
  border-radius: 3px;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.WeatherCard-icon-container {
  font-size: 0.5em;
  margin: 0.5em ;
}

.WeatherCard-degrees {
  font-size: 4em;
  margin: 0;
}

.WeatherCard-detail>div>p {
  font-size: 1em;
}